## Dataset=https://www.kaggle.com/datasets/carrie1/ecommerce-data

## Importing Library

In [242]:
import pandas as pd

data=pd.read_csv(r"C:\Users\DELL\OneDrive\Desktop\example\learn-python\learn-python\Pandas_Practice\csv_file\E-Commerce Data.csv",encoding='ISO-8859-1')

### ===============================
##  Understand the Dataset
### ===============================

###  Basic Info: Shape of the dataset — number of rows (transactions) and columns

In [243]:
print("Dataset Shape (rows, columns):", data.shape)

Dataset Shape (rows, columns): (541909, 8)

###  Missing Values: Check how many null values exist in each column

In [244]:
print("\nMissing Values per Column:")
print(data.isnull().sum())

Missing Values per Column:
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

### Duplicate Records: Identify if any duplicate rows exist

In [245]:
duplicate_count = data.duplicated().sum()
print(f"\nNumber of Duplicate Records: {duplicate_count}")

Number of Duplicate Records: 5268

###  Cancelled / Refunded Invoices:
### Invoices that start with 'C' represent cancellations

In [246]:
cancelled_invoices = data[data['InvoiceNo'].str.startswith('C', na=False)]
print("\nCancelled / Refunded Invoices Preview:")
print(cancelled_invoices.head())

Cancelled / Refunded Invoices Preview:
    InvoiceNo StockCode                       Description  Quantity  \
141   C536379         D                          Discount        -1
154   C536383    35004C   SET OF 3 COLOURED  FLYING DUCKS        -1
235   C536391     22556    PLASTERS IN TIN CIRCUS PARADE        -12
236   C536391     21984  PACK OF 12 PINK PAISLEY TISSUES        -24
237   C536391     21983  PACK OF 12 BLUE PAISLEY TISSUES        -24

         InvoiceDate  UnitPrice  CustomerID         Country
141   12/1/2010 9:41      27.50     14527.0  United Kingdom
154   12/1/2010 9:49       4.65     15311.0  United Kingdom
235  12/1/2010 10:24       1.65     17548.0  United Kingdom
236  12/1/2010 10:24       0.29     17548.0  United Kingdom
237  12/1/2010 10:24       0.29     17548.0  United Kingdom

### Count of cancelled transactions

In [247]:

print("\nTotal Cancelled / Refunded Transactions:", cancelled_invoices.shape[0])

Total Cancelled / Refunded Transactions: 9288

### How many countries are represented?

In [248]:
no_of_countries=len(data['Country'].unique())
print("Number of countries represented: ",no_of_countries)

Number of countries represented:  38

### How many unique customers and products exist?

In [249]:
unique_customers=len(data['CustomerID'].unique())
unique_products=len(data['StockCode'].unique())
print(f"Number of unique customers are: {unique_customers}")
print(f"Number of unique products are: {unique_products}")

Number of unique customers are: 4373
Number of unique products are: 4070

### ===============================
## Data Cleaning
### ===============================

### Remove Duplicates

In [250]:
data.drop_duplicates(inplace=True)
print("Number of data left after removing duplicate data",data.shape[0])

Number of data left after removing duplicate data 536641

### Handle missing CustomerID

In [251]:
data=data.dropna(subset=['CustomerID'])

### Remove negative quantity or cancelled invoices

In [252]:
data=data[data['Quantity']>0]
data=data[~data['InvoiceNo'].str.startswith('C', na=False)]

### Ensure date format

In [253]:
data['InvoiceDate']=pd.to_datetime(data['InvoiceDate'])

### Add TotalSales column

In [254]:
data['TotalSales']=data['Quantity']*data['UnitPrice']
print(data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalSales
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

### ===============================
## Key Performance Indicators (KPIs)
### ===============================

### Total Revenue

In [255]:
total_revenue = data['TotalSales'].sum()
print("Total Revenue of the Store:", total_revenue)

Total Revenue of the Store: 8887208.894000003

### Unique Orders

In [256]:
total_orders = data['InvoiceNo'].nunique()
print("Total Unique Orders:", total_orders)

Total Unique Orders: 18536

### Unique Customers

In [257]:
unique_customers = data['CustomerID'].nunique()
print("Total Unique Customers:", unique_customers)

Total Unique Customers: 4339

### Average Order Value (AOV)

In [258]:
order_totals = data.groupby('InvoiceNo')['TotalSales'].sum()  # total revenue per order
average_order_value = order_totals.mean()
print("Average Order Value (AOV):", average_order_value)

Average Order Value (AOV): 479.4566731765214

### Total Items Sold

In [259]:
total_items_sold = data['Quantity'].sum()
print("Total Items Sold:", total_items_sold)

Total Items Sold: 5165886

### Return Rate

In [260]:
cancelled_orders_count = cancelled_invoices['InvoiceNo'].nunique()
return_rate = cancelled_orders_count / total_orders
print("Return Rate:", return_rate)

Return Rate: 0.20694864048338368

### Top 10 Best-Selling Products by Quantity

In [261]:
top10_products_qty = (
    data.groupby('Description')['Quantity']
    .sum()
    .sort_values(ascending=False)
    .head(10)
)
print("\nTop 10 Best-Selling Products by Quantity:\n", top10_products_qty)

Top 10 Best-Selling Products by Quantity:
 Description
PAPER CRAFT , LITTLE BIRDIE           80995
MEDIUM CERAMIC TOP STORAGE JAR        77916
WORLD WAR 2 GLIDERS ASSTD DESIGNS     54319
JUMBO BAG RED RETROSPOT               46078
WHITE HANGING HEART T-LIGHT HOLDER    36706
ASSORTED COLOUR BIRD ORNAMENT         35263
PACK OF 72 RETROSPOT CAKE CASES       33670
POPCORN HOLDER                        30919
RABBIT NIGHT LIGHT                    27153
MINI PAINT SET VINTAGE                26076
Name: Quantity, dtype: int64

### Top 10 Revenue-Generating Products

In [262]:
top10_products_revenue = (
    data.groupby('Description')['TotalSales']
    .sum()
    .sort_values(ascending=False)
    .head(10)
)
print("\nTop 10 Revenue-Generating Products:\n", top10_products_revenue)

Top 10 Revenue-Generating Products:
 Description
PAPER CRAFT , LITTLE BIRDIE           168469.60
REGENCY CAKESTAND 3 TIER              142264.75
WHITE HANGING HEART T-LIGHT HOLDER    100392.10
JUMBO BAG RED RETROSPOT                85040.54
MEDIUM CERAMIC TOP STORAGE JAR         81416.73
POSTAGE                                77803.96
PARTY BUNTING                          68785.23
ASSORTED COLOUR BIRD ORNAMENT          56413.03
Manual                                 53419.93
RABBIT NIGHT LIGHT                     51251.24
Name: TotalSales, dtype: float64

### ===============================
## Time-Based Trends Analysis
### ===============================

## ---------- Monthly Revenue Analysis ----------

### List of months in calendar order

In [263]:
months_order = ['January', 'February', 'March', 'April', 'May', 'June',
                'July', 'August', 'September', 'October', 'November', 'December']

### Extract month names from invoice dates

In [264]:
data['Month'] = data['InvoiceDate'].dt.month_name()

### Convert to categorical type with ordered months

In [265]:
data['Month'] = pd.Categorical(data['Month'], categories=months_order, ordered=True)

### Group by month and calculate total revenue

In [266]:
revenue_months = data.groupby('Month')['TotalSales'].sum()
print("Monthly Revenue:\n", revenue_months)

Monthly Revenue:
 Month
January       568101.310
February      446084.920
March         594081.760
April         468374.331
May           677355.150
June          660046.050
July          598962.901
August        644051.040
September     950690.202
October      1035642.450
November     1156205.610
December     1087613.170
Name: TotalSales, dtype: float64

C:\Users\DELL\AppData\Local\Temp\ipykernel_14728\2340713488.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  revenue_months = data.groupby('Month')['TotalSales'].sum()

### Identify months with highest and lowest sales

In [267]:
highest_sales_month = revenue_months[revenue_months == revenue_months.max()]
lowest_sales_month = revenue_months[revenue_months == revenue_months.min()]
print("\nMonth(s) with Highest Sales:\n", highest_sales_month)
print("\nMonth(s) with Lowest Sales:\n", lowest_sales_month)

Month(s) with Highest Sales:
 Month
November    1156205.61
Name: TotalSales, dtype: float64

Month(s) with Lowest Sales:
 Month
February    446084.92
Name: TotalSales, dtype: float64

## ---------- Weekly Revenue Analysis ----------

### List of days in week order

In [268]:
days_order = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

### Extract day names from invoice dates

In [269]:
data['Day'] = data['InvoiceDate'].dt.day_name()

### Convert to categorical type with ordered days

In [270]:
data['Day'] = pd.Categorical(data['Day'], categories=days_order, ordered=True)

### Group by day and calculate total revenue

In [271]:
revenue_day = data.groupby('Day')['TotalSales'].sum()

C:\Users\DELL\AppData\Local\Temp\ipykernel_14728\766284772.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  revenue_day = data.groupby('Day')['TotalSales'].sum()

### Identify the busiest day(s)

In [272]:
busiest_day = revenue_day[revenue_day == revenue_day.max()]
print("\nBusiest Day(s) by Revenue:\n", busiest_day)

Busiest Day(s) by Revenue:
 Day
Thursday    1973015.73
Name: TotalSales, dtype: float64

In [273]:
print(data.sample(10))

       InvoiceNo StockCode                         Description  Quantity  \
175107    551881     22151           PLACE SETTING WHITE HEART       432
143824    548712     22966       GINGERBREAD MAN COOKIE CUTTER         3
93922     544319     22961              JAM MAKING SET PRINTED        10
407531    571890     23375       50'S CHRISTMAS PAPER GIFT BAG        10
453779    575491     23300  GARDENERS KNEELING PAD CUP OF TEA          3
136134    547937     22566  FELTCRAFT HAIRBAND PINK AND PURPLE         4
475175    576864     23332            IVORY WICKER HEART LARGE         2
438581    574328     21981        PACK OF 12 WOODLAND TISSUES         48
356100    568040     22555           PLASTERS IN TIN STRONGMAN        12
397234    571129     23506        MINI PLAYING CARDS SPACEBOY         20

               InvoiceDate  UnitPrice  CustomerID         Country  TotalSales  \
175107 2011-05-05 09:11:00       0.36     13784.0  United Kingdom      155.52
143824 2011-04-03 14:42:00       1.25     17050.0  United Kingdom        3.75
93922  2011-02-17 15:03:00       1.45     14379.0  United Kingdom       14.50
407531 2011-10-19 14:05:00       0.82     16826.0  United Kingdom        8.20
453779 2011-11-09 17:47:00       1.65     15531.0  United Kingdom        4.95
136134 2011-03-28 14:27:00       0.85     15068.0  United Kingdom        3.40
475175 2011-11-16 16:06:00       1.65     12748.0  United Kingdom        3.30
438581 2011-11-04 09:05:00       0.39     13081.0  United Kingdom       18.72
356100 2011-09-23 12:09:00       1.65     12681.0          France       19.80
397234 2011-10-14 10:03:00       0.42     14156.0            EIRE        8.40

            Month        Day
175107        May   Thursday
143824      April     Sunday
93922    February   Thursday
407531    October  Wednesday
453779   November  Wednesday
136134      March     Monday
475175   November  Wednesday
438581   November     Friday
356100  September     Friday
397234    October     Friday

### ===============================
## Product Performance Analysis
### ===============================

### Products that sell the most by quantity

In [274]:
product_sell_quantity = data.groupby('Description')['Quantity'].sum()
max_quantity = product_sell_quantity.max()
top_products_quantity = product_sell_quantity[product_sell_quantity == max_quantity]
print("Products selling the most by quantity:\n", top_products_quantity, "\n")

Products selling the most by quantity:
 Description
PAPER CRAFT , LITTLE BIRDIE    80995
Name: Quantity, dtype: int64

### Products that generate the most revenue

In [275]:
product_revenue_sell = data.groupby('Description')['TotalSales'].sum()
max_revenue = product_revenue_sell.max()
top_products_revenue = product_revenue_sell[product_revenue_sell == max_revenue]
print("Products generating the most revenue:\n", top_products_revenue, "\n")

Products generating the most revenue:
 Description
PAPER CRAFT , LITTLE BIRDIE    168469.6
Name: TotalSales, dtype: float64

### Products that contribute the least to revenue

In [276]:
min_revenue = product_revenue_sell.min()
lowest_products_revenue = product_revenue_sell[product_revenue_sell == min_revenue]
print("Products contributing the least to revenue:\n", lowest_products_revenue)

Products contributing the least to revenue:
 Description
PADS TO MATCH ALL CUSHIONS    0.003
Name: TotalSales, dtype: float64

### ===============================
## Customer Analysis
### ===============================

### How many unique customers exist?

In [277]:
data['CustomerID'].nunique()

4339

### Which countries contribute the most revenue and orders?

In [278]:
data.groupby('Country')['TotalSales'].sum().sort_values(ascending=False).head(1)

Country
United Kingdom    7285024.644
Name: TotalSales, dtype: float64

In [279]:
data.groupby('Country')['InvoiceNo'].nunique().sort_values(ascending=False).head(1)

Country
United Kingdom    16649
Name: InvoiceNo, dtype: int64

In [280]:
data.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalSales,Month,Day
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,December,Wednesday
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,December,Wednesday
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,December,Wednesday
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,December,Wednesday
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,December,Wednesday
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom,15.30,December,Wednesday
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom,25.50,December,Wednesday
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,11.10,December,Wednesday
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,11.10,December,Wednesday
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom,54.08,December,Wednesday

### What is the average purchase frequency per customer?

In [281]:
data.groupby('CustomerID')['InvoiceNo'].nunique().mean()

np.float64(4.271952062687255)

### Who are the top 10 customers by total spending?

In [282]:
data.groupby('CustomerID')['TotalSales'].sum().sort_values(ascending=False).head(10)

CustomerID
14646.0    280206.02
18102.0    259657.30
17450.0    194390.79
16446.0    168472.50
14911.0    143711.17
12415.0    124914.53
14156.0    117210.08
17511.0     91062.38
16029.0     80850.84
12346.0     77183.60
Name: TotalSales, dtype: float64

### How long has it been since each customer’s last purchase (recency)?

In [283]:
# Set a snapshot date (day after the last transaction in the dataset)
snapshot_date = data['InvoiceDate'].max() + pd.Timedelta(days=1)

# Calculate the recency for each customer
recency = snapshot_date - data.groupby('CustomerID')['InvoiceDate'].max()

# Extract the number of days from the result
recency_days = recency.dt.days

print("Recency for each customer (in days):")
print(recency_days)

Recency for each customer (in days):
CustomerID
12346.0    326
12347.0      2
12348.0     75
12349.0     19
12350.0    310
          ...
18280.0    278
18281.0    181
18282.0      8
18283.0      4
18287.0     43
Name: InvoiceDate, Length: 4339, dtype: int64

### Can customers be grouped as loyal, frequent, or one-time buyers?

In [284]:
def categorize_customer(count):
    if count > 5000:
        return 'loyal'
    elif count == 1:
        return 'one-time buyer'
    else:
        return 'frequent'

In [285]:
customer_segments=data['CustomerID'].value_counts().apply(categorize_customer)
data['Category']=data['CustomerID'].map(customer_segments)

In [286]:
data.sample(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalSales,Month,Day,Category
529539,580733,21115,ROSE CARAVAN DOORSTOP,8,2011-12-06 08:37:00,1.95,16929.0,United Kingdom,15.60,December,Tuesday,frequent
102184,544970,22457,NATURAL SLATE HEART CHALKBOARD,6,2011-02-25 11:33:00,2.95,13362.0,United Kingdom,17.70,February,Friday,frequent
176990,552039,20727,LUNCH BAG BLACK SKULL.,20,2011-05-06 08:10:00,1.65,13081.0,United Kingdom,33.00,May,Friday,frequent
497234,578353,22694,WICKER STAR,6,2011-11-24 10:07:00,2.10,14825.0,United Kingdom,12.60,November,Thursday,frequent
530575,580875,22915,ASSORTED BOTTLE TOP MAGNETS,96,2011-12-06 12:11:00,0.19,17744.0,United Kingdom,18.24,December,Tuesday,frequent
151016,549526,20847,ZINC HEART LATTICE CHARGER LARGE,4,2011-04-08 15:49:00,3.75,13630.0,United Kingdom,15.00,April,Friday,frequent
403906,571656,22367,CHILDRENS APRON SPACEBOY DESIGN,1,2011-10-18 12:43:00,1.95,16393.0,United Kingdom,1.95,October,Tuesday,frequent
133095,547722,20724,RED RETROSPOT CHARLOTTE BAG,10,2011-03-25 10:19:00,0.85,12553.0,France,8.50,March,Friday,frequent
480297,577297,23203,JUMBO BAG VINTAGE DOILY,1,2011-11-18 12:48:00,2.08,14593.0,United Kingdom,2.08,November,Friday,frequent
55377,540992,22955,36 FOIL STAR CAKE CASES,1,2011-01-12 16:57:00,2.10,17364.0,United Kingdom,2.10,January,Wednesday,frequent
373068,569261,22965,3 TRADITIONAl BISCUIT CUTTERS SET,2,2011-10-03 11:34:00,2.10,17321.0,United Kingdom,4.20,October,Monday,frequent
399025,571269,47566,PARTY BUNTING,3,2011-10-16 12:09:00,4.95,16243.0,United Kingdom,14.85,October,Sunday,frequent
487612,577773,23104,IVORY CAFE HANGING LAMP,3,2011-11-21 15:57:00,12.50,16712.0,United Kingdom,37.50,November,Monday,frequent
478501,577086,23354,6 GIFT TAGS 50'S CHRISTMAS,12,2011-11-17 15:50:00,0.83,16070.0,United Kingdom,9.96,November,Thursday,frequent
382380,569900,22144,CHRISTMAS CRAFT LITTLE FRIENDS,6,2011-10-06 16:17:00,2.10,17651.0,United Kingdom,12.60,October,Thursday,frequent
130988,547538,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2011-03-23 15:17:00,1.95,13534.0,United Kingdom,19.50,March,Wednesday,frequent
101524,544924,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,4,2011-02-24 17:18:00,3.75,13851.0,United Kingdom,15.00,February,Thursday,frequent
267552,560302,82484,WOOD BLACK BOARD ANT WHITE FINISH,6,2011-07-18 10:43:00,7.95,14397.0,United Kingdom,47.70,July,Monday,frequent
503679,578931,22274,FELTCRAFT DOLL EMILY,1,2011-11-27 12:40:00,2.95,16942.0,United Kingdom,2.95,November,Sunday,frequent
103848,545079,22168,ORGANISER WOOD ANTIQUE WHITE,1,2011-02-28 10:30:00,8.50,18283.0,United Kingdom,8.50,February,Monday,frequent